* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
left {
    width: 16vw;
    background: #ccc;
    padding: 5px;
    text-align: center;
}

right{
    width: 84vw;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
}

menue {
    height: 5vh;
    background-color: #666;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

/* Style the content */
content {
    height: 95vh;
    background-color: #f1f1f1;
    padding: 10px;
}


.baustellenSelect{
    height: 50vh;
    overflow: scroll;
}



.addFile {
    position: absolute;
    bottom: 7vh;
    right: 5vw;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: rgba(244, 183, 13, 0.92);
    border: none;
}
input[type="file"] {
    display: none;
}

.addShare{
    position: absolute;
    bottom: 7vh;
    right: 9vw;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: rgba(244, 183, 13, 0.92);
    border: none;
}

.downloadFile{
    position: absolute;
    bottom: 7vh;
    right: 13vw;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: rgba(244, 183, 13, 0.92);
    border: none;
}